<template>
    <div class="ladder-card">
        <h4>{{ data.title }}</h4>
        <div class="ladder-card__badges">
            <img :src="`https://img.shields.io/badge/Содержит-${getTotalsSteps(data)} ступеней-862AE2.svg`" :alt="`Содержит ${getTotalsSteps(data)} ступеней`"/>
            <img :src="`https://img.shields.io/badge/Прошли-12 человек-862AE2.svg`" :alt="`Ладдер прошли 12 человек`"/>
        </div>
        <div class="ladder-card__users ladder-card__users--progress"><b>Сейчас ладдер проходят 23 человек</b>
            <div>Среди них
                <a href="#">@piterPen</a>, <a href="#">@harryPotter</a>, <a href="#">@jackCaptain</a>
            </div>
        </div>
        <div class="ladder-card__actions">
            <button @click="triggerModal">{{ data.title === 'Middle frontend developer' ? 'Мой прогресс' : 'Подробнее' }}</button>
        </div>
        <ladder-modal v-if="modalIsActive" @close="closeModal" :data="data"></ladder-modal>
    </div>
</template>

<script>
    import LadderModal from "@/components/ladder-modal";
    export default {
        name: 'ladder-card',
        components: {LadderModal},
        data: () => ({
            modalIsActive: false
        }),
        props: {
            data: {
                type: Object,
                required: true,
            }
        },
        computed: {
            steps() {
                return this.data.steps || 0
            }
        },
        methods: {
            triggerModal() {
                this.modalIsActive = true
                document.getElementsByTagName('body')[0].style.overflowY = "hidden"
            },
            closeModal() {
                this.modalIsActive = false
                document.getElementsByTagName('body')[0].style.overflowY = "auto"
            },
            getTotalsSteps(data) {
                let steps = 0;

                /**
                 * reduce doesnt worked
                 */
                if (data.categories) {
                    for (const key in data.categories) {
                        steps += data.categories[key].steps.length
                    }
                }

                return steps
            }
        }
    }
</script>

<style>
    .ladder-card {
        background: #fff;
        border-radius: 8px;
        flex-basis: calc(24% - 4px);
        padding: 10px 25px 25px;
        border: 1px solid #ccc;
        margin: 0 20px 30px;
    }

    .ladder-card h4 {
        font-size: 22px;
        color: #312d2d;
    }

    .ladder-card__badges {
        display: flex;
        margin-bottom: 80px;
    }

    .ladder-card__badges img + img {
        margin-left: 5px;
    }

    .ladder-card__users {
        margin: 10px 0;
        line-height: 24px;
        color: #312d2d;
    }

    .ladder-card__users a {
        color: #862AE2;
    }

    .ladder-card__actions {
        margin-top: 80px;
        text-align: right;
    }

    .ladder-card__actions button {
        background: linear-gradient(90deg,#da8cff,#9a55ff);
        color: #fff;
        border: 0;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        padding: 10px 20px;
    }

    .ladder-card__actions button:hover {
        opacity: .8;
    }

    .ladder-card__actions button:focus {
        outline: none;
    }
</style>
