<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper" @click.self="$emit('close')">
                <div class="modal-container">
                    <div class="modal-header">
                        <h3>{{ data.title }}</h3>
                    </div>

                    <div class="modal-body">
                        <div class="modal-categories" v-for="category in data.categories" :key="category.name">
                            <h4 class="modal-category-name">{{ category.name }}</h4>
                            <div class="modal-steps-wrapper">
                                <div v-for="step in category.steps" :key="step.id" class="modal-steps">
                                    <input type="checkbox" :id="`step-${step.id}`">
                                    <label :for="`step-${step.id}`" class="step-title">{{ step.title }}</label>
                                    <div v-if="step.steps" class="modal-sub-steps">
                                        <div v-for="substep in step.steps" :key="substep.title + Date.now()">
                                            <input type="checkbox" :id="`substep-${step.id}-${substep.id}`">
                                            <label :for="`substep-${step.id}-${substep.id}`">
                                                <a :href="substep.src" v-if="substep.src" :title="substep.src" target="_blank">
                                                    {{ substep.title }}
                                                    <img src="/external-link-symbol.svg" class="link-icon"/>
                                                </a>
                                                <span v-else>
                                                    {{ substep.title }}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: 'ladder-modal',
        mounted() {
            this.captureEscBtn()
        },
        props: {
            data: {
                type: Object,
                required: true,
            }
        },
        methods: {
            captureEscBtn() {
                const self = this;
                document.onkeydown = function(evt) {
                    evt = evt || window.event;
                    let isEscape = false;
                    if ("key" in evt) {
                        isEscape = (evt.key === "Escape" || evt.key === "Esc");
                    } else {
                        isEscape = (evt.keyCode === 27);
                    }
                    if (isEscape) {
                        self.$emit('close');
                    }
                };
            }
        }
    }
</script>

<style scoped>
    .link-icon {
        width: 12px;
    }

    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: table;
        transition: opacity 0.3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 500px;
        min-height: 300px;
        max-height: 600px;
        overflow-y: auto;
        margin: 0 auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
        transition: all 0.3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-container::-webkit-scrollbar {
        width: 4px;
    }

    .modal-container::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .modal-container::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }

    .modal-header h3 {
        color: #312d2d;
        margin-top: 0;
        font-size: 24px;
    }

    .modal-categories + .modal-categories {
        margin-top: 15px;
    }

    .modal-category-name {
        color: #312d2d;
        margin: 0;
        font-size: 20px;
        padding: 7px 15px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border: 1px solid #ccc;
        border-bottom: 0;
        width: max-content;
        position: relative;
    }

    .modal-category-name::after {
        content: "";
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 1px;
        left: 0;
        background: #ffffff;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-steps {
        padding: 10px 10px;
    }

    .modal-steps-wrapper {
        border: 1px solid #ccc;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        padding: 4px;
    }

    .modal-body div.modal-sub-steps {
        margin-top: 10px;
        margin-left: 30px;
    }

    .modal-body div.modal-sub-steps div {
        margin: 5px 0;
    }

    .step-title {
        font-weight: bold;
        color: #312d2d;
    }

    .modal-body div a {
        color: #312d2d;
    }
    .modal-body div a:hover {
        border-bottom: 1px #9a55ff;
        border-bottom-style: dotted;
    }

    .modal-body div a:visited {
        text-decoration: line-through;
    }

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    input[type="checkbox"]:checked,
    input[type="checkbox"]:not(:checked)
    {
        position: absolute;
        left: -9999px;
    }

    input[type="checkbox"]:checked + label,
    input[type="checkbox"]:not(:checked) + label{
        display: inline-block;
        position: relative;
        padding-left: 28px;
        line-height: 20px;
        cursor: pointer;
    }

    input[type="checkbox"]:checked + label:before,
    input[type="checkbox"]:not(:checked) + label:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #dddddd;
        background-color: #ffffff;
    }

    input[type="checkbox"]:checked + label:before,
    input[type="checkbox"]:not(:checked) + label:before {
        border-radius: 2px;
    }

    input[type="checkbox"]:checked + label:after,
    input[type="checkbox"]:not(:checked) + label:after {
        content: "";
        position: absolute;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    input[type="checkbox"]:checked + label:after,
    input[type="checkbox"]:not(:checked) + label:after {
        left: 3px;
        top: 4px;
        width: 10px;
        height: 5px;
        border-radius: 1px;
        border-left: 4px solid #862AE2;
        border-bottom: 4px solid #862AE2;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    input[type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
    }

    input[type="checkbox"]:checked + label:after {
        opacity: 1;
    }
</style>
