<template>
    <div id="app">
        <div class="body">
            <header></header>
            <h1 style="text-align: center">SkyLadder</h1>
            <div class="projects">
                <div class="project"
                     :class="{'selected': currentProjectId === project.id}"
                     v-for="project in projects"
                     :key="project.id"
                     @click="setCurrentProjectId(project.id)">
                    <img :src="project.logo" alt=""/>
                </div>
            </div>
            <div class="ladders" v-show="currentProjectId">
                <div class="editor-mode-btn-wrapper">
                    <button class="editor-mode-btn" @click="disableEditorMode" v-show="editorMode">Вернутся в список ладдеров</button>
                    <button class="editor-mode-btn" @click="initEditorMode" v-show="!editorMode">Режим редактора</button>
                </div>
                <div v-show="editorMode === false">
                    <h2>Ладдеров в этом проекте - {{ ladders.length }}</h2>
                    <div class="ladders-list">
                        <ladder-card v-for="ladder in ladders" :key="ladder.id" :data="ladder"></ladder-card>
                    </div>
                </div>
                <div v-show="editorMode">
                    <h2>Режим редактора</h2>
                    <div class="text-center editor-mode-picker">
                        <div><b>Выберите ладдер</b></div>
                        <select v-model="editLadderId">
                            <option v-for="ladder in ladders" :key="ladder.id" :value="ladder.id">{{ ladder.title }}</option>
                        </select>
                        <div>
                            <button class="editor-mode-btn" @click="startEditLadder">Редактировать</button>
                            <button class="editor-mode-btn" @click="startEditLadder">Создать новый на основе выбранного</button>
                        </div>
                    </div>
                    <div class="ladder-form" v-if="editLadderModel">
                        <div class="field-title">Название ладдера:</div>
                        <input v-model="editLadderModel.title"/>
                        <div class="editor-mode-categories">
                            <h4>Категории</h4>
                            <div class="editor-mode-category" v-for="(category) in editLadderModel.categories" :key="category.id">
                                <h5>{{ category.name }}</h5>
                                <div class="editor-mode-category-name">
                                    <label>Название: </label>
                                    <input :value="category.name"/>
                                </div>
                                <div class="editor-mode-steps">
                                    <div>Ступени:</div>
                                    <div class="editor-mode-step" v-for="step in category.steps" :key="step.id">
                                        <label>Название: </label><input :value="step.title"/>
                                        <div class="editor-mode-steps" v-if="step.steps">
                                            <div>Пункты:</div>
                                            <div class="editor-mode-step" v-for="substep in step.steps" :key="substep.id">
                                                <label>Название: </label><input :value="substep.title"/>
                                                <label>URL: </label><input :value="substep.src"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import LadderCard from "@/components/ladder-card";
    const axios = require('axios')

    export default {
        name: 'App',
        components: {LadderCard},
        data: () => ({
            editorMode: false,
            projects: [],
            currentProjectId: 0,
            ladders: [],
            editLadderId: 0,
            editLadderModel: undefined
        }),
        mounted() {
            axios.get('http://localhost:3000/projects')
                .then(({data}) => {
                    this.projects = data
                })
        },
        methods: {
            setCurrentProjectId(projectId) {
                this.currentProjectId = projectId
                this.loadLadders(projectId)
            },
            loadLadders(projectId) {
                axios.get('http://localhost:3000/ladders', {
                    params: {
                        projectId
                    }
                }).then(({data}) => {
                    this.ladders = data
                })
            },
            initEditorMode() {
                this.editorMode = true
            },
            disableEditorMode() {
                this.editorMode = false
            },
            startEditLadder() {
                this.editLadderModel = this.ladders.find(ladder => ladder.id === this.editLadderId)

                if (this.editLadderModel === undefined) {
                    this.editLadderModel = this.ladders[0]
                }
            }
        }
    }
</script>

<style>
    body {
        overflow-y: scroll;
    }

    #app {
        background: #f2edf3;
        min-height: 100vh;
        height: 100%;
        font-family: Roboto, sans-serif;
    }

    h1 {
        font-size: 36px;
        color: #312d2d;
    }

    header {
        background: #fff;
        height: 70px;
    }

    .text-center {
        text-align: center;
    }

    select {
        padding: 10px 6px;
        border-radius: 6px;
        border: 1px solid #ccc;
    }

    .projects {
        padding: 40px;
        display: flex;
        justify-content: space-around;
    }

    .project {
        width: 250px;
        background: #fff;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #fff;
        cursor: pointer;
    }

    .project.selected {
        border: 1px solid #ccc;
    }

    .editor-mode-btn {
        background: linear-gradient(90deg,#da8cff,#9a55ff);
        color: #fff;
        border: 0;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        padding: 10px 20px;
    }

    .editor-mode-btn + .editor-mode-btn {
        margin-left: 10px;
    }

    .editor-mode-btn:hover {
        opacity: .8;
    }

    .editor-mode-btn:focus {
        outline: none;
    }

    .editor-mode-picker div {
        margin: 10px 0;
    }

    .editor-mode-step {
        margin-left: 50px;
    }

    .editor-mode-category {
        border-top: 1px solid #ccc;
        padding-bottom: 20px;
    }

    .ladder-form {
        border: 1px solid #ccc;
        padding: 15px;
    }

    .ladder-form .field-title {
        margin-bottom: 5px;
    }

    .ladder-form input {
        border: 1px solid #9a55ff;
        padding: 5px 10px;
        border-radius: 2px;
        width: 230px;
    }

    .ladder-form input:focus {
        outline: none;
    }

    .ladders {
        max-width: 1500px;
        margin: 0 auto;
    }

    .ladders-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .ladders h2 {
        color: #312d2d;
        text-align: center;
        margin-bottom: 70px;
        font-size: 32px;
    }
</style>
